@charset "UTF-8";

body {
    font-family: "Noto Sans JP", sans-serif;
}

/* common */
.common-wrapper {
    max-width: 1024px;
    padding: 0 15%;
}

.common-wrapper h2 {
    font-size: 26px;
    margin-bottom: 45px;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
}

.common-wrapper span {
    font-size: 20px;
    color:#77BAAA;
}

/* ×印 */
.batsu{}

/* =============================== */
/* header */
.header-wrapper{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 20px 50px;
    align-items: center;
}

.header-logo{
    font-size: 30px;
}

.header-logo span{
    color:#77BAAA;
}

.header-nav{
    display: flex;
}

.header-nav li {
    margin: 0 25px;
}

.header-nav-mb{
    display: none;
}

/* first-view */
.first-view-wrapper{
    position: relative;
}

.first-view-wrapper span{
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.first-view-img {
    display: block;
    height: 100%;
}

.first-view-img img {
    width: 100%
}

.first-view-wrapper h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
    font-size: 35px;
    text-align: center;
}

/* philosophy */
.philosophy{
    padding: 50px 0;
    background-color:#EFEFEF;
}

.philosophy-wrapper{}

.philosophy-inner{
    display: flex;
    align-items: center;
}

.philosophy-img{
    width: 50%;
    margin-right: 50px;
}

.philosophy-img img {
    width: 100%;
}

.philosophy-text-block{
    width: 50%;
    margin-left: 50px;
}